*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Helvetica;
    color: #323232;
    border: none;
}

body{
    background-image: url(imagens/anime.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}

textarea{
    outline: none;
}

a, label{
    font-size: .8rem;
}

a:hover{
    color: #08558B;
}

.login-container{
    background-color: #FFF;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    margin-bottom: 50px;
    border-radius: 10px;
    text-align: center;

}

form{
    margin-top: 30px;
    margin-bottom: 40px;
}

label, input{
    display: block;
    width: 100%;
    text-align: left;
}

label{
    font-weight: bold;

}

input{
    
    padding: 10px;
    font-size: 1rem;
    margin-bottom:20px;
    border-bottom: 2px solid;
}

input:focus {
   border: none;
}

#forgot-pass{
    text-align: right;
    display: block;
}

input[type="submit"]{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: #FFF;
    background-color: #08558B;
    cursor: pointer;
    
}

input[type="submit"]:hover{
    background-color: #1B223C;
    transition: .5s;
}

#social-container, #social-container p{
    margin-bottom: 20px;
}

#social-container svg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height:40px;
    color: white;
    cursor: pointer;
    margin: 10px;
}
  
.bi bi-facebook{
    background-color: #3B5998;
}

.register-container p{
    margin: 10px;
}

img{
    color: rgb(255, 255, 255);
    background-color: #08558B;
}
